html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


img {
    vertical-align: middle;
}



fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*Chromeframe*/

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*Parallax*/
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}
body {
	
}
.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 700px;
	position: absolute;
	left:50% ;
	top: 50%;
    text-align:center;
}
	.hsContent h2  {
		color: #fff;
		padding: 10px 5px;
		font-size: 35px;
		line-height: 38px;
		margin-bottom: 12px;
        font-family: Ubuntu;
        font-weight: lighter;
	}
	.hsContent p {
		width: 400px;
		color: #b2b2b2;
	}
    
	

/* Slide 1 */
#slide-1 .bcg {background-image:url('../img/slide1.jpg')}
#slide-1 .hsContent {
    left: 25%;
	top: 0px;
    width:100%   
}

#slide-1 .scrolldown {
    color:white;
    font-size:80px;
    text-align:center;
    
}
#slide-1 .invitation {
    margin-top:150px;
    font-size:20px
}
#slide-1 .title {
    margin-top:50px;
    font-size:40px;
}
#slide-1 .title, .invitation {
    text-align: center
}

.myButton {
    background-color:#57c775;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:2px solid #a8b3aa;
    display:inline-block;
    cursor:pointer;
    color:#fff;    
    font-size:17px;
    font-weight:bold;
    padding:17px 27px;
    text-decoration:none;
    text-shadow:0px 1px 0px #52a33f;
    top:50px;
    }
.myButton:hover {
    background-color:#51962c;
}
.myButton:active {
    position:relative;
    top:1px;
}


/* Slide 2 */
#slide-2 .bcg {background-image:url('../img/slide2.jpg')}
#slide-2 .hsContent {
    margin-left:-600px;
	bottom: 200px;
	top: auto;
    
}
#slide-2 h2 {
    background-color: rgba(0,0,0,0.6);
}



/* Slide 3 */
#slide-3 .bcg {background-image:url('../img/BackgroundWebsite.jpg');text-align: center;}
#slide-3 .hsContent {
	left: 25%;
	top: 0px;
    width:100% 
    
}
	#slide-3 .description {
		color: #f2ead6;
		background-color:  rgba(0,0,0,0.6);
        font-size:20px; 
        margin-top:120px;
        display: inline-block;
	}
#slide-3 .cur {
    color: #f2ead6;
    background-color:  rgba(0,0,0,0.6);
    text-align: center;
    font-family: Ubuntu;
    font-weight: lighter;
    margin-top: 30px;
    font-size: 50px;
}

#slide-3 .circles {
    overflow: auto;
    margin-top:150px;
    display: inline-block;
    
    

}
#slide-3 .arrow1 {
    font-size: 120px;
    color:white;
    display: inline;
    postion: relative;
    float: left;
    margin-left:50px;
}
#slide-3 .arrow2 {
    font-size: 120px;
    color:white;
    display: inline;
    postion: relative;
    float: left;
    margin-left:50px
}

/**Code for the circles*/

#slide-3 .ideacircle {
    width:200px;
    height:200px;
    border-radius: 100px;
    background-image: url("https://cdn3.iconfinder.com/data/icons/lamp-indicators/100/3-512.png");/**Thank you!*/
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    display: inline;
    postion: relative;
    float: left;
    margin-top:100px;
    border: 1px solid white;
}
#slide-3 .designcircle {
    width:200px;
    height:200px;
    border-radius: 100px;
    background-image: url("http://www20.csueastbay.edu/news/blog/files/images/Video%20game%20certificate.png");/**Thank you!!*/
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    display: inline;
    postion: relative;
    float: left;
    margin-top:100px;
    margin-left:50px;
}
#slide-3 .progcircle {
    width:200px;
    height:200px;
    border-radius: 100px;
    background-image: url("http://www.homeandlearn.co.uk/csharp/images/csharp_2010/file_path_new4.gif");/**Thank you!!*/
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    display: inline;
    postion: relative;
    float: left;
    margin-top:100px;
    margin-left:50px;
}



/* Slide 4 */
#slide-4 .bcg {background-image:url('../img/slide4.jpg')}
#slide-4 .hsContent {
    top:0;
    left:1%
}
	#slide-4 .description {
		color: white;
		background-color:  rgba(0,0,0,0.6);
        font-size:20px; 
        margin-top:120px;
        display: inline-block;
	}
#slide-4 .activities {
    color: white;
    background-color:  rgba(0,0,0,0.6);
    text-align: center;
    font-family: Ubuntu;
    font-weight: lighter;
    margin-top: 30px;
    font-size: 50px;
}
#slide-4 .unitypic {
    float:right;
    margin-top:100px;
}

#slide-5 .bcg {background-image:url('../img/gameover.png')}
#slide-5 .hsContent {
    top:0;
    left:25%;
}

#slide-5 .introtocar {
    font-size: 20px;
}
#slide-5 .if {
    margin-top:350px;
}
#slide-5 .per {
    text-align: center;
    
}


.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}



.hidden {
    display: none !important;
    visibility: hidden;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}



.invisible {
    visibility: hidden;
}



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



.clearfix {
    *zoom: 1;
}



@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}



@media print {
    * {
        background: transparent !important;
        color: #000 !important; 
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

 

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
