body {
  display:block;
  font-family: 'Raleway', 'Hind', sans-serif;
  background-repeat: no-repeat;
}

.header {
  background-color: black;
  margin:0px;
  padding: 0px;
}

.header h1 {
	color:white;
	text-align: center;
	margin:0px;
}